@import url('https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display&display=swap');

$base-font: 'Lora', serif;
$heading-font: 'Playfair Display', serif;

$highlight-color: #202329;
$base-color: #050404;

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  background: #eeebe3;
  color: $base-color;
  font-family: $base-font;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  color: $highlight-color
}

.page-content {
  width: 90%;
  max-width: 80rem;
  margin: 0 auto;
}

pre.highlight {
  background: #fff;
  padding: 1rem;
  overflow-x: scroll;
}

a {
  color: #009a9c;

  &:visited {
    color: #025253;
  }

  &:hover {
    color: $base-color;
  }
}

ul.post-list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin-bottom: 15px;
  }
}

.post-list li {
  width: 100%;
  display: grid;
  vertical-align: text-top;
  grid-template-columns: 15rem auto;
  grid-template-rows: min-content;
  gap: 1rem 1rem;
  grid-template-areas:
    "meta title";

  .post-meta {
    grid-area: meta;
  }

  .post-link {
    grid-area: title;
  }
}

.post aside {
  background: rgba(0, 0, 0, 0.1);
  padding: 10px
}

.more-posts {
  width: 100%;
  display: grid;
  vertical-align: text-top;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "prev next";

  .newer {
    grid-area: prev;
  }
}

footer {
  font-size: 1.5rem;
  font-variant: small-caps;
  text-align: center;
}
