@import url('https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display&display=swap');

$base-font: 'Lora', serif;
$heading-font: 'Playfair Display', serif;

$highlight-color: #202329;
$base-color: #050404;

body {
  font-size: 1rem;
  background: #eeebe3;
  color: $base-color
}

body {
  font-family: $base-font;
  font-size: 1.2rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  color: $highlight-color
}

.page-content {
  width: 90%;
  max-width: 47.5rem;
  margin: 0 auto;
}

pre.highlight {
  background: #fff;
  padding: 1rem;
  overflow-x: scroll;
}

a {
  color: #009a9c;
}

a:visited {
  color: #025253;
}

a:hover {
  color: $base-color;
}


